<!DOCTYPE html>
<html>
<head>
<title>Login</title>
<link rel="stylesheet" href="/static/style.css">
</head>

<body>

<div class="container">

<h2>Student Login</h2>

<input id="email" placeholder="Email">

<input id="password" type="password" placeholder="Password">

<button onclick="login()">Login</button>

<div class="link">
<a href="/register">Create account</a>
</div>

<p id="message"></p>

</div>

<script>

async function login(){

let email=document.getElementById("email").value
let password=document.getElementById("password").value

let response = await fetch("/login",{

method:"POST",
headers:{
"Content-Type":"application/json"
},
body:JSON.stringify({
email:email,
password:password
})

})

let data = await response.json()

document.getElementById("message").innerText=data.message

if(data.status==="approved"){
window.location="/courses"
}

}

</script>

</body>
</html>